* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.flex {
    display: flex;
}
.firstpage-container {
    max-width: 1440px;
    width: 100%;
    height: 800px;
    background-color:#F3F2E7;
    margin: 0 auto;
    color: #3A1700;
}
.firstpage-box {
    justify-content: space-between;
}
body {
    background-color: #F3F2E7;
    overflow-x: hidden;
    z-index: 50;
}
header {
    z-index: 1;
    width: 100%;
    height: 70px;
}
.firstpage-wrapper {
    position: relative;
}
.rectangle-img {
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: -380px;
    margin-top: -160px;
}
.rectangle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    max-width: 122px;
    max-height: 68px;
    margin-left: 32px;
}
.title h1 {
    font-size: 25px;
    letter-spacing: -1px;
    color: #3A1700;
    font-family: Rowdies;
}
.unordered-list {
    max-width: 414px;
    width: 100%;
    max-height: 32px;
    margin-left: 20px;
    margin-top: 25px;
}
.unordered-list li a {
    margin: 15px;
    font-size: 16px;
    color: #3A1700;
    font-family: manrope;
}
.button-box {
    height: 48px;
    margin-left: 600px;
    margin-top: 16px;
    z-index: 0;
}
.button-box button {
    width: 118px;
    height: 38px;
    font-size: 16px;
    color: #7E8AB8;
    font-size: 14px;
    line-height: 17px;
    border-radius: 24px;
    border: 1px solid #7E8AB84E;
}
.oval-box {
    position: absolute;
    margin-top: 200px;
    margin-left: -70px;
}
.information-box {
    flex-direction: column;
    margin-left: 100px;
    margin-top: 150px;
    width: 350px;
}
.information-h2 h2 {
    font-size: 62px;
    line-height: 80px;
    letter-spacing: -3px;
    font-family: rowdies;
}
.information-p {
    margin-top: -50px;
    line-height: 32px;
    font-family: manrope;
}
.information-button button {
    width: 202px;
    height: 48px;
    border-radius: 24px;
    color: white;
    background-color: #7E8AB8;
    border: none;
    margin-left: 40px;
    margin-top: 20px;
}
.information-item {
    max-width: 600px;
    height: 600px;
    margin-top: -42px;
    z-index: 1;
}
.information-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shadow-picture {
    position: absolute;
    max-width: 1025px;
    max-height: 1337px;
    margin-top: 50px;
}
.shadow-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 763px;
    margin-top: -280px;
}
/* second section */
.secondpage-container {
    max-width: 1440px;
    position: relative;
    width: 100%;
    height: 2100px;
    background-color: white;
    margin: 0 auto;
}
.secondpage-title {
    width: 180px;
    height: 100px;
    margin: 0 auto;
    padding-top: 60px;
}
.secondpage-title h3 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
    color: #E29F72;
    font-family: rowdies;
}
.secondpage-info {
    width: 770px;
    height: 149px;
    margin: 0 auto;
    margin-top: 40px;
}
.secondpage-info p {
    font-size: 35px;
    line-height: 48px;
    color: #3A1700;
    text-align: center;
    font-family: rowdies;
}
.secondpage-blocks-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.ovalball img {
    width: 102px;
    height: 102px;
    position: absolute;
    margin-top: 100px;
    margin-left: -30px;
    z-index: 1;
}
.path3-wrapper img {
    position: absolute;
    width: 190px;
    height: 330px;
    margin-top: 120px;
    margin-left: -15px;
}
.block-item {
    width: 490px;
    height: 288px;
    background-color: #F3F2E7;
    margin: 10px;
    border-radius: 12px;
    z-index: 5; 
}
.blockitem-img {
    width: 64px;
    height: 62px;
}
.blockitem-img img {
    object-fit: cover;
}
.blockitem-h4 h4 {
    font-size: 35;
    font-family: rowdies;
    color: #3A1700;
}
.block-item-pharagraph  {
    max-width: 380px;
    width: 100%;
    height: 70px;
    margin: 0 auto;
    margin-top: 50px;
}
.block-item-pharagraph p {
    font-size: 16px;
    color: #3A170080;
    line-height: 32px;
    font-family: manrope;
}
.img-h4-box {
    justify-content: space-evenly;
    margin-top: 50px;
}
.our-cases {
    width: 200px;
    height: 32px;
    margin: 0 auto;
    margin-top: 100px;
}
.our-cases h5 {
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
    font-family: manrope;
    color: #E29F72;
}
.recent-cases {
    width: 500px;
    height: 64px;
    margin: 0 auto;
}
.recent-cases h3 {
    font-size: 56px;
    font-family: rowdies;
    letter-spacing: -2px;
    text-align: center;
}
.recent-cases-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.recent-cases-item {
    width: 370px;
    height: 560px;
    background-color: #F3F2E7;
    margin: 10px;
    border-radius: 12px;
}
.cases-item-img {
    width: 370px;
    height: 240px;
} 
.cases-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.cases-item-text {
    width: 306px;
    height: 64px;
    margin: 0 auto;
    margin-top: 20px;
}
.cases-item-text p {
    font-size: 24px;
    font-family: rowdies;
    color: #3A1700;
}
.donation-box {
    width: 306px;
    height: 47px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
}
.donation-item p {
    font-size: 20px;
    font-family: manrope;
    color: #3A1700;
}
.donation-item2 p {
    font-size: 20px;
    font-family: manrope;
    color: rgba(58, 23, 0, 0.5);
}
.bottom-icon {
    width: 138px;
    height: 8px;
    margin-left: 30px;
    background-color: #2FB0AB;
    margin-top: 20px;
    border-radius: 4px;
} 
.bottom-icon2 {
    width: 218px;
    height: 8px;
    margin-left: 30px;
    background-color: #2FB0AB;
    margin-top: 20px;
    border-radius: 4px;
}
.bottom-icon3 {
    width: 170px;
    height: 8px;
    margin-left: 30px;
    background-color: #2FB0AB;
    margin-top: 20px;
    border-radius: 4px;
}
.donation-button {
    width: 202px;
    height: 48px;
    margin-top: 20px;
    margin-left: 30px;
}
.donation-button button {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: none;
    background-color: #7E8AB8;
    color: white;
}
.explore-all-button {
    width: 170px;
    height: 48px;
    margin: 0 auto;
    margin-top: 80px;
}
.explore-all-button button {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: 1px solid #7E8AB8;
    color: #7E8AB8;
    background-color: white;
}
/* thirdpage container */
.thirdpage-container {
    max-width: 1440px;
    width: 100%;
    height: 2300px;
    background-color:#F3F2E7;
}
.highest-form-wrapper {
    width: 100%;
    justify-content: space-between;
    height: 850px;
    /* flex-wrap: wrap; */
    /* margin: 0 auto; */
    /* background-color: red; */
    /* margin-top: 100px; */
}
.highest-form-img {
    width: 50%;
    height: 75%;
    /* background-color: yellow; */
    margin: 0 auto;
    margin-top: 50px;
}
.highest-form-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.highest-form-text {
    width: 40%;
    margin: 0 auto;
    height: 50%;
    /* background-color: blue; */
    margin-top: 200px;
}
.highest-form-text-h4 {
    width: 150px;
    height: 32px;
    /* background-color: #3A1700; */
}
.highest-form-text-h4 h4 {
    font-size: 16px;
    letter-spacing: 3px;
    font-family: manrope;
    color: #E29F72;
}
.highest-form-text-h2 {
    width: 314px;
    height: 128px;
    /* background-color: orange; */
}
.highest-form-text-h2 h2 {
    font-size: 46px;
    color: #3A1700;
    line-height: 62px;
    letter-spacing: -2px;
    font-family: rowdies;
}
.highest-form-text-p {
    width: 470px;
    height: 101px;
    /* background-color: aqua; */
}
.highest-form-text-p p {
    font-size: 20px;
    font-family: manrope;
    list-style: 32px;
    color: #3A1700;

}
.highest-form-text-button {
    width: 170px;
    height: 48px;
    margin-top: 40px;
}
.highest-form-text-button button {
    width: 100%;
    height: 100%;
    border-radius: 22px;
    border: 1px solid #7E8AB8;
    background-color: white;
    color:  #7E8AB8;
}
@media (max-width: 1024px) {
    .button-box {
        margin-left: 350px;
    }
    .information-h2 h2 {
        font-size: 52px;
        line-height: 50px;
        letter-spacing: -3px;
    }
    .information-item {
        max-width: 400px;
        height: 400px;
        margin-left: 100px;
        margin-top: -42px;
        z-index: 1;
    }
    .shadow-picture {
        display: none;
    }
    .block-item {
        width: 100%;
    }
    .ovalball {
        display: none;
    }
    .path3-wrapper {
        display: none;
    }
    .secondpage-container {
        height: 3800px;
    }
}
@media (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .button-box {
        display: none;
    }
    .rectangle-img {
        display: none;
    }
    .oval-box {
        display: none;
    }
    .title {
        width: 100px;
        height: 60px;
        margin-top: 20px;
        margin: 0 auto;
    }
    .title h1 {
        font-size: 36px;
        margin: 0 auto;
        text-align: left;
    }
    .firstpage-box {
        max-width: 768px;
        position: relative;
        width: 100%;
        height: 800px;
        flex-direction: column-reverse;
        margin-top: -150px;
    }
    .information-box {
        flex-direction: column;
        max-width: 270px;
        height: 350px;
        margin: 0 auto;
    }
    .information-item {
        max-width: 300px;
        height: 300px;
        margin: 0 auto;
        z-index: 1;
        margin-top: 200px;
    }
    .information-h2 h2 {
        font-size: 48px;
    }
    .shadow-picture {
        display: none;
    }
    .information-button {
        margin-left: -40px;
    }
    .secondpage-container {
        height: 3600px;
    }
    .secondpage-info {
        width: 270px;
        height: 149px;
        margin: 0 auto;
    }
    .secondpage-info p {
        font-size: 17px;
        line-height: 28px;
        color: #3A1700;
        text-align: center;
        font-family: rowdies;
    }
    .secondpage-title {
        height: 40px;
        margin: 0 auto; 
        padding-top: 5px;
    }
    .secondpage-blocks-wrapper {
        margin-top: 10px;
    }
    .block-item-pharagraph {
        height: 102px;
        max-width: 273px;
        width: 100%;

    }
    .ovalball {
        display: none;
    }
    .path3-wrapper {
        display: none;
    }
    .recent-cases {
        width: 250px;
        height: 60px;
    }
    .recent-cases h3 {
        font-size: 30px;
    }
    .recent-cases-item {
        width: 329px;
        height: 560px;
    }
    .cases-item-img {
        width: 100%;
        height: 240px;
    }
    .highest-form-wrapper  {
        flex-direction: column;
    }
    .highest-form-text {
        margin-top: 50px;
        width: 100%;
        height: 100%;
    }
    .highest-form-text-p {
        width: 350px;
    }
    .highest-form-text p {
        font-size: 20px;
    }
    .highest-form-img {
        width: 100%;
        margin-top: 50px;
        height: 100%;
    }
}
    