* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.flex {
    display: flex;
}
.firstpage-container {
    max-width: 1440px;
    width: 100%;
    /* min-height: 100vh; */
    height: 800px;
    background-color:#F2F2F2;;
    margin: 0 auto;
    color: #3A1700;
}
body {
    background-color: #F2F2F2;
}
header {
    z-index: 1;
    width: 100%;
    height: 70px;
    /* background-color: red; */
}
.firstpage-wrapper {
    position: relative;
    /* background-color: green; */
}
.first-page-wrapper {
    
}
.rectangle-img {
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: -380px;
    margin-top: -160px;
}
.rectangle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    max-width: 122px;
    max-height: 68px;
    margin-left: 32px;
    /* background-color: blue; */
}
.title h1 {
    font-size: 25px;
    letter-spacing: -1px;
    color: #3A1700;
    font-family: Rowdies;
}
.unordered-list {
    max-width: 414px;
    width: 100%;
    max-height: 32px;
    /* background-color: green; */
    margin-left: 20px;
    margin-top: 25px;
}
.unordered-list li a {
    margin: 15px;
    font-size: 16px;
    color: #3A1700;
    font-family: manrope;
}
.button-box {
    /* max-width: 138px; */
    height: 48px;
    /* background-color: yellow; */
    margin-left: 600px;
    margin-top: 16px;
    z-index: 0;
}
.button-box button {
    width: 118px;
    height: 38px;
    font-size: 16px;
    color: #7E8AB8;
    font-size: 14px;
    line-height: 17px;
    border-radius: 24px;
    border: 1px solid #7E8AB84E;
}
.oval-box {
    position: absolute;
    margin-top: 200px;
    margin-left: -70px;
}
.information-box {
    flex-direction: column;
    margin-left: 100px;
    margin-top: 150px;
    /* background-color: red; */
    width: 350px;
}
.information-h2 h2 {
    font-size: 62px;
    line-height: 80px;
    letter-spacing: -3px;
    font-family: rowdies;
}
.information-p {
    margin-top: -50px;
    line-height: 32px;
    font-family: manrope;
}
.information-button button {
    width: 202px;
    height: 48px;
    border-radius: 24px;
    color: white;
    background-color: #7E8AB8;
    border: none;
    margin-left: 40px;
}
.information-item {
    max-width: 600px;
    height: 600px;
    margin-left: 200px;
    margin-top: -42px;
    z-index: 1;
}
.information-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shadow-picture {
    position: absolute;
    max-width: 650px;
    max-height: 650px;
    /* margin-top: -70px; */
    margin-left: 600px;
    margin-top: 50px;
}
.shadow-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .resposiv-img {
    display: none;
} */
 
@media (max-width: 1024px) {
    .button-box {
        margin-left: 350px;
    }
    .information-h2 h2 {
        font-size: 52px;
        line-height: 50px;
        letter-spacing: -3px;
    }
    .information-item {
        max-width: 400px;
        height: 400px;
        margin-left: 100px;
        margin-top: -42px;
        z-index: 1;
    }
    .shadow-picture {
        position: absolute;
        max-width: 450px;
        max-height: 450px;
        /* margin-top: -70px; */
        margin-left: 500px;
        margin-top: 50px;
    }

}
@media (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .button-box {
        display: none;
    }
    .rectangle-img {
        display: none;
    }
    .oval-box {
        display: none;
    }
    .title {
        /* background-color: red; */
        width: 100px;
        height: 60px;
        margin-top: 20px;
        /* margin: 0 auto; */
    }
    .title h1 {
        font-size: 36px;
        margin: 0 auto;
        text-align: left;

    }
    .firstpage-box {
        max-width: 768px;
        position: relative;
        width: 100%;
        height: 800px;
        /* background-color: green; */
        flex-direction: column-reverse;
        margin-top: -150px;
    }
    .information-box {
        flex-direction: column;
        max-width: 270px;
        height: 350px;
        margin: 0 auto;
        /* background-color: red; */
    }
    .information-item {
        max-width: 300px;
        height: 300px;
        margin: 0 auto;
        z-index: 1;
    }
    .information-h2 h2 {
        font-size: 48px;
    }
    .shadow-picture {
        display: none;
    }
    .information-button {
        margin-left: -40px;
    }
}
    